<div>
  <div>
    <button class="button topButton" ui-sref="main">BREWSKI BROSKI</button>
  <div>
    <h1>MAP HERE</h1>
  </div>

  <div class="eventInfo sectionInvite" id="eventLocation">{{ event.ownerName }} and {{ event.acceptedName }} gonna {{ event.party }} at {{ barInfo.name }} at {{ barInfo.address[0] }}, {{ barInfo.address[1] }}</div>
  <div class="eventInfo sectionInvite" id="eventUber">
    <div> Just shell out {{uber.uberX.estimate}} for an {{uber.uberX.display_name}} to get there and you'll be popping in no time</div>
  </div>

  <div>
    <ul>
    </ul>
  </div>
</div>
