<div class="section logo-background">
  <img id="logo" ui-sref="main" src="/assets/bblogo.png">
</div>

<div>
  <my-maps id="map-canvas"></my-maps>
</div>

<span ng-show="test.hidden">
  <div id='beerLoad'>
    <img src='../assets/images/loadBeer.gif'>
  </div>
</span>

<span ng-show="!test.hidden">
  <div class="eventInfo sectionInvite" id="eventLocation">
    <div>
    <strong>{{ event.ownerName }}</strong> and <strong>{{ event.acceptedName }}</strong> gonna {{ event.party }} at <br> <strong>{{ barInfo.name }}</strong> <br> {{ barInfo.address[0] }}, {{ barInfo.address[1] }}
  </div>
  </div>
  <div class="eventInfo sectionInvite" id="eventUber">
    <div>
    Just shell out <strong>{{uber.uberX.estimate}}</strong> for an <strong>{{uber.uberX.display_name}}</strong> <br> to get there and you'll be popping in no time
  </div>
  </div>
</span>
