<div>
	<div>
		<button class="button topButton" ui-sref="settings">BREWSKI BROSKI</button>
	</div>
	<div>
		<button class="section button" id="brewskiButton" ng-click = "brew()" ng-hide = "isDisabled" >Brewski</button>
	</div>
	<div>
	<div class="section" ng-disabled="true" ng-show="pending">
		<button class="button" id="grayButton">
	<div>
			Brewski Pending
		</button>
	</div>
	<div>
		<button  class="button section sectionInvite" id="broskiButton" ng-click = "bro()">Broski</button>
	</div>
	<div>
		<button class="section button brewskiInvite sectionInvite" ng-click = "goToEvent()" ng-show="showEvent">Go To Event</button>
	</div>

	<div>
		<!-- | filter: {eventType: 1} -->
			<div  ng-repeat = "brews in events">

				<button class="button brewskiInvite sectionInvite" ng-hide = "userEventId" ng-click = "acceptBrewski(brews)">Brewski with {{brews.ownerName + alreadyEvent()}}</button>
			</div>
<!-- 		<ul>
			<li ng-repeat = "bro in brewskisArray | filter: {eventType: 2}">
				{{bro.ownerName + " says " + "Bro!"}}
			</li>
		</ul> -->
