<button class="button topButton" ui-sref="settings">BREWSKI BROSKI</button>
<button ng-click="brew()" ng-disabled="isDisabled" ng-class="{section2: true, button2: true, grayButton: isDisabled, brewskiButton: !AppFactory.userEvent}">{{brewskiButtonText}}</button>
<button class="button section sectionInvite" id="broskiButton" ng-click="bro()">Broski</button>
<button ng-click="goToEvent()" ng-disabled="eventButtonDisabled" ng-class="{section2: true, button2: true, grayButton: pageLoadOrEventPending, greenButton: !pageLoadOrEventPending}">{{eventButton}}</button>
<div ng-repeat="brew in events">
  <button class="button brewskiInvite sectionInvite" ng-show="brew.eventType === 1" ng-click="acceptBrewski(brew)">Brewski with {{brew.ownerName}}</button>
  <button class="button brewskiInvite sectionInvite" ng-show="brew.eventType === 2">{{brew.ownerName}} says {{brew.message}}</button>
</div>
