<div class="section">
  <img id="logo" ui-sref="main" src="/assets/bblogo.png">
</div>

  <div class="section-small">
    <p>Logged in as {{username}}</p>
  </div>

	<form>
			<input class="section" placeholder = "Search for Friends" autocomplete="off" ng-model="potentialFriend" required>
	</form>

  <div class="section">
	  <button class="button" id="addFriend" ng-click="addFriend()">Add Friend</button>
  </div>

  <div class="section-small friends" ng-repeat="friend in friends">
    <p>{{friend.username}}</p>
  </div>
<div class="section-small">
	 <button class="button error" ng-click="logout()">Logout</button>
</div>

</div>
