<div class="section logo-background">
  <img id="logo" ui-sref="main" src="/assets/bblogo.png">
</div>

  <div class="section-small loggedInUser">
    <p>Logged in as <strong>{{username}}</strong></p>
  </div>

	<form>
			<input class="section friendSearch" ng-keydown = "$event.which === 13 && addFriend()" placeholder = "Search for Friends" autocomplete="off" ng-model="potentialFriend" required>
	</form>

  <div class="section">
	  <button class="button" id="addFriend" ng-click="addFriend()">Add Friend</button>
  </div>

  <div class="section-small friends" ng-repeat="friend in friends">
    <p>{{friend.username}}</p>
  </div>
  <div class="section-small">
    <button class="button logout" ng-click="logout()">Logout</button>
  </div>

</div>
