<div>
  <div>
    <button class="button topButton" ui-sref="main">BREWSKI BROSKI</button>
  <div>

	<div>
		<form>
			<input class="section" placeholder = "Search for Friends" autocomplete="off" ng-model="potentialFriend" required>
		</form>
		<div class="section">
			<button class="button" id="addFriend" ng-click="addFriend()">Add Friend</button>
		</div>
	</div>
  <div class="friends" ng-repeat="friend in friends">{{friend.username}}
  </div>
	<div class="section">
		<button class="button error" ng-click="logout()">Logout</button>
	</div>
</div>
