/*==============================*\
General style
\*==============================*/

@import url(https://fonts.googleapis.com/css?family=Dosis:600);

body{
  margin: 0;
  padding: 0;
  border: none;
  max-width: 720px;
  margin: 0 auto;
  background-color: #2C2D39;
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
  font-family: "Dosis", sans-serif;
  font-weight: 100;
  font-size: 24px;
  color: white;
}

.section, .section-small {
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  width: 100%;
  height: 72px;
  align-items: center;
  justify-content: center;
}

.section-small {
  height: 48px;
}


/*==============================*\
Login View
\*==============================*/

::-webkit-input-placeholder{
  size: 30px;
}

:placeholder-shown {
  font-size: inherit;
}

input, select, textarea, .button {
  text-transform: inherit;
  text-align: inherit;
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

*:focus {
  outline: none;
}

.inputUsername{
  background-color: black;
}

.button {
  width: 100%;
  font-size: inherit;
  color: white;
  height: 100%;
  text-align: center;
  padding: 0px;
  border: none;
  font-family: "Dosis", sans-serif;
}

#loginButton{
   background-color: #1AA35F;
}

#signupButton{
  background-color: #4A87C8;
  height: 72px;
}

/*==============================*\
Signup View
\*==============================*/

#goBackButton{
 background-color: #A5DA38;
}

/*==============================*\
Main View
\*==============================*/

#logo{
  max-height: 48px;
  max-width: 80%;
  margin: auto;
}

.topButton{
  background-color: #2C2D39;
}

.brewskiButton{
  background-color: #FC9C48;
}

.grayButton{
 background-color: #D3D3D3;
}

#broskiButton{
  background-color: #005D5B;
}

.greenButton{
  background-color: green;
}

.brewskiInvite{
 background-color: #FEC417;
}

.broskiInvite{
 background-color: purple;
}

/*==============================*\
Event View
\*==============================*/

#map{
  clear:both;
}

.eventInfo{
  min-height: 64px;
}

#eventLocation{
  background-color: #FEC417;
}

#eventUber{
  background-color: #555B80;
}

#map-canvas{
  width: 100%;
  height: 225px;
  margin: auto;
  padding: 0;
  position: relative;
}

/*==============================*\
Settings Page
\*==============================*/

#addFriend{
  background-color: #D5513D;
}

.friends{
  background-color: #1CB1AD;
  border-bottom: 1px solid #2C2D39;
}

#logoutButton{
   background-color: #B80000;
}

/*==============================*\
Misc
\*==============================*/

.event {
  background-color: green;
}

.error {
  background-color: #B80000;
}

